<%- include('../includes/head'); %> 

</head>

  <body>
 <%- include('../includes/navigation') %> 
  <main>
      <% if (products.length > 0) { %>
          <ul>
            <% for( let product of products ) { %>
              <li>
                <p>
                  <%= product.title %> (<%= product.cart_item.quantity %>) 
                </p>
                  <form action="/cart-delete-item" method="POST">
                      <input type="hidden" value="<%= product.id %>" name="productId" />
                      <button class="btn" type="submit">Delete</button>
                  </form>
               </li>
            <% } %>
          </ul>
      <% } else { %>
        <h1>No Products in Cart!</h1>
      <% }  %>
  </main>

<%- include('../includes/end') %> 